{{! List Of Posts }}
<h1 class="row main-container-title">Posts</h1>

<div class="scroll-list">
  <ul class="column homepage-post-list">
    {{! Post }}
    {{#each posts as |post|}}
      <li
        id="{{post.id}}"
        class="primary-container column homepage-post-list-item"
      >
        <div class="column homepage-post-title-and-user">
          {{! Post Title }}
          <h4>{{post.title}}</h4>

          {{! Post Owner }}
          <h5>Posted by
            {{post.user.username}}
            on
            {{format_date post.createdAt}}</h5>
        </div>

        {{! Post Content }}
        <p>{{post.content}}</p>
      </li>
    {{/each}}
  </ul>
</div>

{{! Homepage Script }}
<script src="/js/homepage.js"></script>