{{! Post }}
<h1 class="row main-container-title">{{post.title}}</h1>

{{! Create Comment Button }}
<div class="row btn-row-end">
  <button id="dashboard-create-post-btn" class="btn-primary">Create a new
    comment</button>
</div>

<div class="primary-container column">
  {{! Post Content }}
  <p>{{post.content}}</p>

  {{! Post User Username }}
  <p>Posted by: {{post.user.username}}</p>
</div>

{{! Post Comments }}
<h2>Comments:</h2>

<ul class="column">
  {{! Comment }}
  {{#each post.comments as |comment|}}
    <li class="primary-container">{{comment.content}}</li>
  {{else}}
    {{! Empty List Message }}
    <div class="row empty-list-message">
      <p>You have not made any posts yet.</p>
    </div>
  {{/each}}
</ul>