{{! Post }}
<h1 class="row main-container-title">{{post.title}}</h1>

{{! Create Comment Button }}
<div class="row btn-row-end">
  <button
    id="post-create-comment-btn"
    data-post-id="{{post.id}}"
    class="btn-primary"
  >Create a new comment</button>
</div>

<div class="column scroll-list">
  <div class="primary-container column">
    {{! Post Content }}
    <p class="with-white-spaces">{{post.content}}</p>

    {{! Post User Username }}
    <p>Posted by {{post.user.username}} on {{format_date post.createdAt}}</p>
  </div>

  {{! Post Comments }}
  <h2 class="comments-header">Comments:</h2>

  <ul class="column comments-list">
    {{! Comment }}
    {{#each post.comments as |comment|}}
      <li class="primary-container with-white-spaces">{{comment.content}}</li>
    {{else}}
      {{! Empty List Message }}
      <div class="row empty-list-message">
        <p>This post doesn't have any comments yet.</p>
      </div>
    {{/each}}
  </ul>
</div>

{{! Post Script }}
<script src="/js/post.js"></script>